[Desktop Entry]
Encoding=UTF-8
Name=AQM
Comment=AQM
Icon=gnome-info
Exec=lxterminal -e "sh /home/pi/aqm_py/aqm_show.sh"
Terminal=true
Type=Application
Categories=

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=20